html,
body {
	height: 100%;
}

body {
	background-image: url(../images/background.png);
}

section {
	max-width: 900px;
}

img {
	width: 200px;
	height: 200px;
}

footer {
	background-color: darkgray;
}
