html,
body {
	height: 100%;
}

body {
	background-image: url(../images/background.png);
}

section {
	display: flex;
	margin-left: 200px;
	margin-top: 80px;
	max-width: fit-content;
}

img {
	width: 200px;
	height: 200px;
}
