.footer {
	flex-shrink: 0;
	margin-top: 100px;
	background-color: whitesmoke;
	color: rgb(55, 55, 55);
	font-size: 17px;
	border-top: 2px #9bc53d solid;
}

.custom-style {
	color: rgb(125, 182, 40);
	font-weight: bold;
}
