.custom-style-nav {
	background-color: white;
	border-bottom: #9bc53d 2px solid;
}

.custom-img {
	height: 97px;
}

.color-link {
	color: rgb(55, 55, 55);
	font-size: 18px;
}

.hover-color:hover {
	color: #9bc53d !important;
}
